.advantages-card{
display: flex;
align-items: center;
grid-gap: clamp(10px, 1.8182vw, 20px);

    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: clamp(40px, 5.8182vw, 64px);
        height: clamp(40px, 5.8182vw, 64px);
        background-color: rgba(var(--bg-c),1.0);
        flex-shrink: 0;
        padding: 10px;
        
    }

    p{
        color: rgba(var(--cl-b),1.0);
        text-align: start;
        line-height: 125%;
    }
}