.offer-card{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    height: 100%;
    border-bottom: 1px solid var(--br-d);
    padding-bottom: clamp(15px, 2.2727vw, 25px);

    .subtitle{
        text-align: start;
        color: rgba(var(--cl-d),1.0);
    }

    &__link{
        display: flex;
        overflow: hidden;
        border-radius: 10px;
        background-color: rgba(var(--bg-f),1.0);
        width: 100%;

        @include for-small-tablet{
            height: clamp(200px, 20.9091vw, 230px);
        }

        @include small-tablet{
            height: clamp(200px, 36.458vw, 280px);
        }

        &:hover{
            .offer-card__image{
                img,picture{
                    transform: scale(1.04);
                }
            }
        }
    }

    &__image{
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: inherit;

        img,picture{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .5s;
        }
    }

    &__date{
        font-weight: 500;
        font-size: 14px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: rgba(var(--cl-e),1.0);
    }
}