<footer class="footer">
  <div class="container">
    <div class="footer__box">
     
      <div class="footer__inner">

        <div class="footer__row">
          <span class="pretitle">Ломбард «Національний» розташований за адресою:</span>

          <ul class="socials">
            <li class="socials__item">
              <a href="tel:+380501234567" class="socials__link">
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#geo'></use>
                </svg>
                м. Ужгород, вул., Швабська, 21 (центр міста)</a>
            </li>
            <li class="socials__item">
              <a href="tel:+380501234567" class="socials__link">
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#tel'></use>
                </svg>
                +38 050 123 45 67</a>
            </li>
            <li class="socials__item">
              <a href="tel:+380501234567" class="socials__link">
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#date'></use>
                </svg>
                9:00 до 19:00</a>
            </li>
          </ul>
        </div>
       
        <div class="footer__row">
          <span class="pretitle">Ми в соц мережах:</span>

          <ul class="socials socials--mode">
            <li class="socials__item">
              <a href="tel:+380501234567" class="socials__link">
                <svg width='45' height='45'>
                  <use href='img/sprite/sprite.svg#whatsapp'></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="tel:+380501234567" class="socials__link">
                <svg width='45' height='45'>
                  <use href='img/sprite/sprite.svg#tg'></use>
                </svg>
                </a>
            </li>
            <li class="socials__item">
              <a href="tel:+380501234567" class="socials__link">
                <svg width='45' height='45'>
                  <use href='img/sprite/sprite.svg#inst'></use>
                </svg>
                </a>
            </li>
            <li class="socials__item">
              <a href="tel:+380501234567" class="socials__link">
                <svg width='45' height='45'>
                  <use href='img/sprite/sprite.svg#fb'></use>
                </svg>
                </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__wrapp">
        <a href="/" class="footer-logo logo">
          <svg width='201' height='201'>
            <use href='img/sprite/sprite.svg#logo-f'></use>
          </svg>
        </a>
        <span class="footer__copyright">© 2024 Мережа ломбардів «Національний»</span>
      </div>


    </div>
  </div>
</footer>