<header class="header fixed-block">
  <div class="container">
    <div class="header__box">
      <a href="/" class="header-logo logo">
        <svg width='173' height='49'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>

      <nav class="header__nav">
        <ul class="header__nav-list">
          <li>
            <a href="#">Головна</a>
          </li>
          <li>
            <a href="#">Про нас</a>
          </li>
          <li>
            <a href="#">Послуги</a>
          </li>
          <li>
            <a href="#">Переваги</a>
          </li>
          <li>
            <a href="#">Відгуки</a>
          </li>
          <li>
            <a href="#">Акції</a>
          </li>
          <li>
            <a href="#">Контакти</a>
          </li>
        </ul>
      </nav>

      <button class="burger">
        <span class="burger__line"></span>
      </button>
    </div>


    <div class="mobile">
      <div class="mobile__menu">
          <ul class="mobile__menu-list">
            <li><a href="/">Головна</a></li>
            <li><a href="#">Про нас</a></li>
            <li><a href="#">Послуги</a></li>
            <li><a href="#">Переваги</a></li>
            <li><a href="#">Відгуки</a></li>
            <li><a href="#">Акції</a></li>
            <li><a href="#">Контакти</a></li>
          </ul>
      </div>
    </div>

  </div>
</header>







