.main-form {
  display: flex;
  flex-direction: column;
  grid-gap: 14px;
  background: rgba(var(--bg-c), 1);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &__box{
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    grid-gap: 14px;
    width: 100%;
    height: 100%;
    position: relative;

    @include for-tablet {
      padding: 13px clamp(25px, 5.4545vw, 60px) clamp(20px, 2.2727vw, 25px);
    }
  
    @include tablet {
      @include for-small-tablet {
        padding: 13px 25px clamp(20px, 2.2727vw, 25px);
      }
    }
  
    @include small-tablet {
      padding: 13px clamp(15px, 5.4545vw, 60px) clamp(20px, 2.2727vw, 25px);
    }

    
  &::before,
  &::after {
    position: absolute;
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
  }

  &::before {
    background-image: var(--form-icon);
    background-position: bottom right;
    width: 105px;
    height: 103px;

    @include for-tablet {
      bottom: 0;
      right: 0;
    }

    @include tablet {
        @include for-small-tablet{
      bottom: -2%;
      right: -5%;
        }
    }

    @include small-tablet{
        bottom: 0;
        right: 0;
    }
  }

  &::after {
    background-image: var(--form-icon2);
    background-position: top left;
    width: 57px;
    height: 161px;
    top: 20px;
    left: 0;
  }
  }




  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;

    p {
      font-size: 13px;
      text-align: center;
      color: rgba(var(--cl-f), 1);
    }
  }

  &__label {
    width: 100%;
  }

  &__input {
    border-radius: 5px;
    padding: 9px clamp(14px, 1.5455vw, 17px);
    width: 100%;
    height: 32px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    color: rgba(var(--cl-d), 1);
    background-color: rgba(var(--bg-d), 1);

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 13px;
      color: rgba(var(--cl-e), 1);
    }
  }

  &__area {
    border-radius: 5px;
    padding: 9px clamp(14px, 1.5455vw, 17px);
    width: 100%;
    min-height: clamp(150px, 17.5455vw, 193px);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    color: rgba(var(--cl-d), 1);
    background-color: rgba(var(--bg-d), 1);

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 13px;
      color: rgba(var(--cl-e), 1);
    }
  }

  &__title {
    font-weight: 700;
    font-size: clamp(24px, 3.2727vw, 36px);
    text-align: center;
    color: rgba(var(--cl-f), 1);
  }

  button {
    align-self: center;
    margin-top: 1px;
  }
}
