.socials{
    display: flex;
    flex-direction: column;
    grid-gap: clamp(10px, 1.3636vw, 15px);

    &__link{
        display: flex;
        align-items: center;
        grid-gap: 15px;
        font-weight: 500;
        font-size: clamp(14px, 1.4545vw, 16px);
        text-align: center;
        color: rgba(var(--cl-d), 1);
        line-height: 100%;
        transition: all .3s;

        svg{
            width: clamp(18px, 1.8182vw, 20px);
            height: clamp(18px, 1.8182vw, 20px);
            transition: all .2s;
        }

        &:hover{
            color: rgba(var(--cl-g),1.0);

            svg{
                transform: scale(1.05);
            }
        }

    }

    @include small-tablet{
        align-items: center;
    }

    &--mode{
        flex-direction: row;
        grid-gap: clamp(20px, 2.2727vw, 25px);

        .socials__link{
            width: clamp(38px, 4.0909vw, 45px);
            height: clamp(38px, 4.0909vw, 45px);

            svg{
                width: 100%;
                height: 100%;
            }

            &:hover{
                svg{
                    transform: scale(1.05);
                }
            }
        }
    }
}