@keyframes rotate360 {
	from {
	  transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
	  transform: translate(-50%, -50%) rotate(360deg);
	}
  }

.loader {
	position: relative;

	&.loaded {
		&:before,
		&:after {
			opacity: 0;
		}
	}

	&:before,
	&:after {
		opacity: 1;
		content: '';
		position: absolute;
		display: flex;
		pointer-events: none;
		transition: all .3s ease;
		z-index: 10;
	}

	&:before {
		inset: 0;
		background-color: rgba(var(--bg-d), .7);
		backdrop-filter: blur(1px);
	}

	&:after {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: clamp(120px, 11.4286vw, 160px);
		height: clamp(120px, 11.4286vw, 160px);
		border-radius: 50%;
		border: clamp(15px, 1.7857vw, 25px) solid var(--br-a);
		border-top-color: transparent;
		animation: rotate360 1.5s linear infinite;
		z-index: 11;
		transition-property: transform;
	}
}
