.select {
    position: relative;
    user-select: none;
    width: 100%;
    transition: all .1s;
   
    border: 1px solid var(--br-f);
    border-radius: 4px;
    height: 56px;
    background: rgba(var(--bg-a), 1);
  
    &__header {
      width: 100%;
      max-width: 100%;
      cursor: pointer;
      gap: 15px;
      display: flex;
      align-items: center;
      position: relative;
      z-index: 6;
      padding: 16px;
      
  
      & > svg {
        transition: transform .4s linear;
        flex-shrink: 0;
        width: 10px;
        aspect-ratio: 1;
  
        @include mobile {
          width: 10px;
        }
      }
    }
  
    &__current {
      flex-grow: 1;
      overflow: hidden;
      width: 100%;
      display: flex;
      align-items: center;
      grid-gap: 7px;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      color: rgba(var(--cl-c),1.0);
  
      &:hover {
        color: rgba(var(--cl-c),.8);
      }
    }
  
    &__body {
      right: -2px;
      position: absolute;
      z-index: 5;
      height: 0;
      top: 100%;
      overflow: hidden;
      transition: height 0.1s ease-in;
      left: -2px;
      border: solid 1px transparent;
      border-radius: 4px;

     
     
      i {
        margin: 0;
        text-transform: uppercase;
        font-size: inherit;
        line-height: inherit;
      }
    }
  
    &__list {
      overflow-y: auto;
      background: rgba(var(--bg-d),1.0);
      padding:9px 0;
      display: flex;
      flex-direction: column;
      max-height: 170px;

      &::-webkit-scrollbar-thumb {
        background-color: rgba(var(--cl-g),1.0);
        border-radius: 100px;
      }
  
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
  
      &::-webkit-scrollbar {
        width: 4px;
        border-radius: 100px;
      }
    }
  
    &__option {
      display: flex;
      padding: 9px 15px;
      align-items: center;
      grid-gap: 5px;
      width: 100%;
      cursor: pointer;
      line-height: 100%;
      transition: all .3s;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      color: rgba(var(--cl-c),1.0);
  
      &:hover {
        background-color: rgba(var(--bg-e),1.0);
      }
  
      a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }
  
  .select.active {
    z-index: 30;
  
    .select__header > svg {
      transform: scaleY(-1);
    }
  }
  
  