// --------------- hex to rgba mixin ---------------
@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  // --------------- default global variables ---------------
  --error-bg: #dc1915;
  --body-bg: #F5F4F4;

  --body-font-size: 16px;
  --content-width: 1110px;
  --container-offset: clamp(20px, 2.1818vw, 24px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // --------------- default JS variables ---------------
  --header-height: 100px;

  @include desktop{
    --header-height: 75px;
  }

  @include laptop{
    --header-height: 64px;
  }

  // --------------- default scroll variables ---------------
  --scrollbar-thumb: #c51614d3;
  --scrollbar-track: #e7e7ea;
  --scrollbar-track-hover: transparent;

     // --------------- default JS variables ---------------
     --header-height: 109px;
 
     @include tablet{
       --header-height: 101px;
     }

     @include small-tablet{
      --header-height: 80px;
     }

     @include mobile{
      --header-height: 68px;
     }

  // --------------- default font-family variables ---------------

  --font-family: "PFAgoraSlabPro", sans-serif; // var(--font-family);

  // --------------- default text color variables ---------------
  --cl-a: #{HexToRGB(#ffffff)}; // rgba(var(--cl-a),1.0);
  --cl-b: #{HexToRGB(#000000)}; // rgba(var(--cl-b),1.0);
  --cl-c: #{HexToRGB(#2b2724)}; // rgba(var(--cl-c),1.0);
  --cl-d: #{HexToRGB(#221f1f)}; // rgba(var(--cl-d),1.0);
  --cl-e: #{HexToRGB(#5e5b5a)}; // rgba(var(--cl-e),1.0);
  --cl-f: #{HexToRGB(#f5f4f4)}; // rgba(var(--cl-f),1.0);
  --cl-g: #{HexToRGB(#dc1915)}; // rgba(var(--cl-g),1.0);
  --cl-h: #{HexToRGB(#504949)}; // rgba(var(--cl-h),1.0);

  // --------------- default background color variables ---------------
  --bg-a: #{HexToRGB(#ffffff)}; // rgba(var(--bg-a),1.0);
  --bg-b: #{HexToRGB(#000000)}; // rgba(var(--bg-b),1.0);
  --bg-c: #{HexToRGB(#dc1915)}; // rgba(var(--bg-c),1.0);
  --bg-d: #{HexToRGB(#f5f4f4)}; // rgba(var(--bg-d),1.0);
  --bg-e: #{HexToRGB(#e7e7ea)}; // rgba(var(--bg-e),1.0);
  --bg-f: #{HexToRGB(#d9d9d9)}; // rgba(var(--bg-f),1.0);
  --bg-g: #{HexToRGB(#f06865)}; // rgba(var(--bg-g),1.0);
  --bg-h: #{HexToRGB(#d8d4d4)}; // rgba(var(--bg-h),1.0);
  
  // --------------- default border color variable ---------------
  --br-a: #dc1915; // var(--br-a);
  --br-b: #fff; // var(--br-b);
  --br-c: #000; // var(--br-c);
  --br-d: #5e5b5a; // var(--br-d);
  --br-e: #e7e7ea; // var(--br-e);
  --br-f: #2b2724; // var(--br-f);

 // --------------- default gradient color variable ---------------
 --gr-a: linear-gradient(90deg, rgba(255,255,255,0) 10%, rgba(245,244,244,1) 100%); // var(--gr-a);
 --gr-b: linear-gradient(270deg, rgba(255,255,255,0) 10%, rgba(245,244,244,1) 100%); // var(--gr-b);
}       


